.root {
    width: 100vw !important;
    height: 100vh !important;
    margin: 0;
    padding: 0;
  }

  .background{
    top: 0px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background: linear-gradient(90deg, #13151a 50%, #08080a 50%)
  }

// --------------------------------------
// IFRAME

  .iframe_container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    background-color: red;
  }

  .iframe{
    border: none !important;
  }